<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HuddleArch-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HuddleArch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HuddleMacros.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HuddleMacrosClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>HuddleArch</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HuddleArchTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HuddleMacros</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HuddleMacrosClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HuddleMacrosTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
